*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

/* Você vai precisar trocar a cor dos botões e alguns textos!
  VERDE = "#2FBE34"
  AMARELO = "#FF922E"
  VERMELHO = "#FF3030"
  CINZA = "#333333" 
*/

/*.container-botoes > button {
  width: 90px;
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  background: blue;
  border-radius: 5px;
  border: 1px solid blue;
  padding:5px;
} */


.question-closed.close{
  display: none;
}

.question.close{
  display: none;
}
.question:hover .card{ /*BoxBoxQuestions:hover . Card*/
  transform:rotateX(180deg);
  transition: 0.8s;
}

